

h2{
    margin-top: 130px;
    text-align: center;
    color:#213547
}

h3{
    text-align: center;
    color: #9A9CEA
}

.ui.card{
    background-color:#ADEEE2;
}


.ui.placeholder {
    color: #ADEEE2;
}

.header {
    text-align: center;
}
.bars.icon {
    color: white;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
}

/* Necesario para que la tarjeta ocupe el 100% de la columna */
.full-height-card {
    height: 100%; 
    display: flex; /* Convierte la tarjeta en un contenedor flexible */
    flex-direction: column;
}

/* Permite que el contenido del cuerpo de la tarjeta se estire */
.full-height-card .content {
    flex-grow: 1; 
}