/* Header blanco igual que login/register */
.ui.menu {
    background: white !important;
    color: var(--color-texto) !important;
    box-shadow: 0 4px 24px rgba(154,156,234,0.12);
    border: 2px solid #213547 ;
    border-radius: 0px;
    padding: 5px;
}
.ui.menu .item {
    color: var(--color-primario) !important;
}

:root {
    --color-primario: #9A9CEA;
    --color-secundario: #A2B9EE;
    --color-terciario: #A2DCEE;
    --color-cuaternario: #ADEEE2;
    --color-texto: #213547;
}

body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #5b60f0;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #d3d3d3;
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}


.ui.button {
    background-color: var(--color-terciario);
    color: white;
    border-radius: 5px;
}

.ui.button:hover {
    background-color: var(--color-cuaternario);
}


.fondo-menu {
    position: relative;
    background: url('../Images/FotoMenu.jpg') center center/cover no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 53, 71, 0.6); /* Opacidad y color oscuro */
    z-index: 1;
}

.fondo-menu .contenido-menu {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
}

.ui.vertical.footer {
    background-color: var(--color-secundario);
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}

.column{
    background-color: white;
}

.ui.two.column.grid{
    background-color: white;
}

.justificar{
    text-align: justify;
}